
.cardImage{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.7s;
    background-color:whitesmoke;
    padding: 10px 10px 10px 10px;
    margin: 20px 5px 5px 1px;
    height: fit-content;
    width: 15%;
}

.card-city{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.7s;
    background-color:whitesmoke;
    padding: 10px 10px 10px 10px;
    margin: 20px 5px 5px 1px;
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 1200px) {
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .card{
        width: 80%;
    }
}
.responsiveCont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around; 
}

.customHeader{
    width: 100%;
    height: fit-content;
    position: relative;
    padding:15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #b0b4ba;
}
.customBar{
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 0px 0px 0px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: solid black;
}
.barComponent{
    display: inline-block;
}

.barComponent:nth-child(1){
    display: inline-block;
    margin-right: 10px;
}

.title{
    background-color: greenyellow;
    width: fit-content;
    padding: 5px 30px 5px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 10px;
}
.title span{
    font-size:40px;
}
.backImg{
    margin-right: 30px;
    cursor: pointer;
}

.headerComponent:nth-child(1){
    min-width: 32%;
    max-width: 33%;
    display: inline-block;
    text-align: left;
}
.headerComponent:nth-child(2){
    min-width: 32%;
    max-width: 33%;
    display: inline-block;
    text-align: center
}
.headerComponent:nth-child(3){
    min-width: 32%;
    max-width: 33%;
    display: inline-block;
    text-align: right;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,120,0,0.6);
}

.locked {
    background-image: url(https://image.freepik.com/free-icon/lock-in-a-circle_318-9883.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    cursor: pointer;
}

.city1 {
    background-image: url(http://beyondheroes2.altervista.org/gnomecity.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    cursor: pointer;

}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.cityName {
    color : red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-weight: 900;
}

.cityNameContainer{
    display:flex;
    align-items: center;
    justify-content: center;
}

.pageDistribution {
    margin-top: 100px;
}